$red: #cf352c;
$dark-red: #9c0502;
$light-beige: #f3f2ee;
$beige: #eee8e0;
$dark-beige: #dad2c9;
$black: #1d2528;
$gray: #38434a;
$lighter-gray: #49555b;
$white: #fff;
$bouncer-skin: #ffb482;
$pole: #f5ae4e;
$pole-shadow: #df9d41;

$bottom-spacing: 40%;

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Limelight", cursive;
  color: $gray;
}

.button {
  position: absolute;
  left: 50%;
  bottom: 30%;
  width: 207px;
  transform: translateX(-50%);
}

.background {
  position: absolute;
  left: 50%;
  bottom: $bottom-spacing;
  transform: translateX(-50%);
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: $beige;
    border-radius: 50%;
    z-index: -1;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    background: $light-beige;
    border-radius: 50%;
    z-index: -2;
  }
}

.door {
  position: relative;
  width: 90px;
  height: 150px;
  margin: 0 auto -10px;
  background: $light-beige;
  border: 10px solid $dark-beige;
  border-radius: 3px;
  font-size: 25px;
  line-height: 3;
  text-align: center;
  text-shadow: 0 2px $pole;
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 70px;
    right: 5px;
    width: 12.5px;
    height: 12.5px;
    background: $black;
    border-radius: 50%;
  }
  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 74px;
    right: 9px;
    width: 17.5;
    height: 5px;
    background: $lighter-gray;
    border-radius: 5px;
  }
}

.rug {
  width: 90px;
  border-bottom: 60px solid $red;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  &::before {
    display: block;
    content: "";
    position: relative;
    width: 100%;
    height: 5px;
    background: $dark-red;
  }
}

.foreground {
  position: absolute;
  left: 50%;
  bottom: $bottom-spacing;
  transform: translateX(-50%);
}

.bouncer {
  position: relative;
  left: -70px;
  transition: left 1.5s;
  .head {
    position: relative;
    left: 10px;
    margin-bottom: 10px;
    width: 32.5px;
    height: 45px;
    background: $bouncer-skin;
    border-radius: 7.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &::before {
      display: block;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 27.5px;
      height: 20px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 7.5px;
      z-index: 10;
    }
    .neck {
      position: absolute;
      bottom: -7.5px;
      width: 24px;
      height: 15px;
      background: $bouncer-skin;
      z-index: 5;
      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 7.5px;
        right: 0;
        width: 0px;
        height: 0px;
        border-left: 7.5px solid transparent;
        border-right: 7.5px solid rgba(0, 0, 0, 0.3);
        border-top: 2px solid rgba(0, 0, 0, 0.3);
        border-bottom: 2px solid transparent;
      }
    }
    .eye {
      position: absolute;
      top: 20px;
      width: 2.5px;
      height: 2.5px;
      background: $black;
      border-radius: 50%;
      &.left {
        right: 2.5px;
      }
      &.right {
        right: 15px;
      }
      &::before {
        display: block;
        content: "";
        position: relative;
        bottom: 4px;
        right: 2.5px;
        width: 7.5px;
        height: 2.5px;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 2.5px;
        transition: bottom 5s;
      }
    }
    .ear {
      position: relative;
      top: 20px;
      left: -5px;
      width: 10px;
      height: 10px;
      background: $bouncer-skin;
      border-radius: 50%;
      &::before {
        display: block;
        content: "";
        position: relative;
        top: 2.5px;
        left: 2.5px;
        width: 5px;
        height: 5px;
        background: $white;
        border-radius: 50%;
      }
      &::after {
        display: block;
        content: "";
        position: relative;
        top: -1.5px;
        left: 5px;
        width: 5px;
        height: 27.5px;
        border-top: 3px solid transparent;
        border-left: 2px solid $white;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: 10;
      }
    }
  }
  .body {
    position: relative;
    width: 55px;
    height: 135px;
    background: $black;
    border-top-right-radius: 22.5px;
    border-top-left-radius: 7.5px;
    &::before {
      display: block;
      content: "";
      position: relative;
      top: 2.5px;
      width: 52px;
      height: 55px;
      background: $white;
      border-top-right-radius: 21px;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      width: 37.5px;
      height: 90px;
      background: $gray;
      border-top-right-radius: 21px;
      border-top-left-radius: 7.5px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 5px;
      z-index: 15;
    }
  }
  .arm {
    position: absolute;
    top: 52.5px;
    left: -10px;
    width: 30px;
    height: 115px;
    background: $lighter-gray;
    border-radius: 15px;
    box-shadow: -1px 0px $black;
    transform: rotate(-30deg);
    transform-origin: top center;
    z-index: 20;
    transition: transform 1s;
    &::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      width: 30px;
      height: 30px;
      background: $bouncer-skin;
      border-radius: 50%;
    }
  }
}

.poles {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-25%);
  .pole {
    position: absolute;
    bottom: 0;
    width: 7.5px;
    height: 67.5px;
    background: $pole;
    &.left {
      left: 100px;
    }
    &.right {
      right: 100px;
    }
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 12.5px;
      height: 12.5px;
      background: $pole;
      border-radius: 50%;
      box-shadow: inset 0 -2px $pole-shadow;
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 12.5px;
      height: 2px;
      background: $pole;
      border-radius: 2px;
      box-shadow: 0 2px $pole-shadow;
    }
  }
  .rope {
    position: absolute;
    top: -55px;
    left: -109px;
    width: 75px;
    height: 37.5px;
    border: 10px solid $red;
    border-top: 0;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    box-shadow: 0 1px $dark-red;
    box-sizing: border-box;
    transition: width 1.5s;
  }
}

.hover:hover {
  .bouncer {
    left: 65px;
  }
  .arm {
    transform: rotate(-42deg);
  }
  .rope {
    width: 217.5px;
  }
  .eye::before {
    bottom: 2px;
  }
}
